body {
    background-color: #f8f9fa;
}

.content-container {
    text-align: center;
    margin-top: 30vh;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.name {
    font-size: 60px;
    font-weight: bold;
    color: #343a40;
}

.description {
    font-size: 25px;
    color: #6c757d;
    padding-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-link {
    text-decoration: none;
    color: #343a40;
    font-size: 16px;
    width: 90px;
    margin: 0 10px;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #343a40;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.social-link:hover {
    background-color: #343a40;
    color: #ffffff;
}